# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env*

# PDF encyclopedias (already coded into plans.js)
*.pdf

# Large generated data
backend/models.json

# One-time use scripts only
download_assets.ps1
cleanup_for_github.ps1
